body {
    background-color: #0b0b1a;
    color: #ffffff;
    margin: 0 ;
    padding: 20px;
    line-height: 1.6;
    font-size: 1.5rem;
}
h1 {
    color: #ffdd57;
    text-align: center;
    margin-bottom: 20px;

}

h3 {
    color: #a0e7ff;
    margin-top: 30px;
    border-bottom: 1px solid #444;
    margin-bottom:10px;
    padding-bottom:5 px;
}

h5 {
    color: #ffd1dc;
    margin-top: 20px;
    margin-bottom: 10px;

}

p li {
    margin-bottom: 8px;
    list-style-type: disc;
    margin-left: 25px;
}

ol li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #11112a;
    box-shadow: 0 0 10px;
}



li {
    list-style-position: inside;
}
a {
    color: #66ccff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}